#gerenciamento-pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FDECEB;
  color: black;
  height: 100vh;
}

#gerenciamento-pedidos .nome-cliente {
  font-size: 1rem;
  color: black;
  margin: 10px;
}

#gerenciamento-pedidos button {
  background-color: #5C6996;
  color: #f2f2f2;
  border: none;
  cursor: pointer;
  width: 100px;
}

#gerenciamento-pedidos .pedido-card {
  border: 1px solid  #FEB4CB;
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-color: #D1D5FA;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  min-width: 500px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#gerenciamento-pedidos .pedido-info {
  display: flex;
  flex-direction: column;
}

#gerenciamento-pedidos .pedido-detalhes {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  color: #283358;
}

@media screen and (max-width: 700px) {
  #gerenciamento-pedidos .pedido-card {
    width: 100%;
  }
}