@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.gerenciamento-pedidos {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Inter';
}

.gerenciamento-pedidos .titulo-principal {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Inter';
}

.gerenciamento-pedidos .nome-cliente {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Inter';
}

.gerenciamento-pedidos .box-input-buscar {
  display: flex;
  margin-bottom: 20px;
}

.gerenciamento-pedidos .input-buscar {
  flex-grow: 1;
  padding: 8px;
  font-size: 14px;
}

.gerenciamento-pedidos .pedido-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.gerenciamento-pedidos .pedido-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gerenciamento-pedidos .pedido-detalhes{
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  gap: 10px;
  overflow-y: auto;
  max-height: 250px;
}

.gerenciamento-pedidos .pedido-cards-container {
  overflow-y: auto;
  height: 450px;
}