.header {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    background: white;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
  }

  .botao-alterar{
    background: transparent;
  }
  
  .login {
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .login::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url('../../assets/usuario.svg') no-repeat center center;
    margin-left: 0.5rem;
    position: relative;
    top: -1px;
  }

  .button{
    background: #fff;
    cursor: pointer;
    position: relative;
  }
  
  .caption {
    position: absolute;
    top: 45px; /* Distância da legenda */
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    color: black;
  }
  
  .button:hover .caption {
    opacity: 1;
  }