.header {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    background: white;
    
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
  }
  
  
  
  .login {
    color: #333;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .login::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url('../../assets/usuario.svg') no-repeat center center;
    margin-left: 0.5rem;
    position: relative;
    top: -1px;
  }

  .button{
    background: #fff;
    cursor: pointer;
  }
  