.backgroud{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.estrutura_Modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 150px;
    background-color: #fff;
    border-radius: 10px;
    
}

.botao{
    position: absolute;
    margin: 40px;
    right: 10px;
    top: 10px;
}