@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

table{
    background-color: #FFFDFD;
    margin: 20px;
    text-align: center;
}


th, td {
    background-color: #FFFDFD;
    text-align:center; 
    padding: 8px;
    font-family: Inter;
    
 }


th{
    
    color: #B4B4B4;
    font-weight: 600;
}
