@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

table{
    background-color: #FFFDFD;
    border-radius: 10px;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.estruturaTabela{
    border: 2px solid #FEB4CB;
    background-color: #FFFDFD;
    margin: 20px;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    background-color: #FFFDFD;
    padding: 8px;
    text-align: left; 
    font-family: Inter;
    
 }

th{
    color: #B4B4B4;
    font-weight: 600;
}

caption{
    background-color: #FFFDFD;
    color: #FEB4CB;
    font-family: Bebas Neue;
    margin: 10px;
    font-size: 2rem;
}