*{
    margin: 0;
    padding: 0;
}


.estrutura-form{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    height: 100vh;
}

.bem-vindo{
    background-color: #FEB4CB;
    width: 50%;
}

.formulario{
    background-color: #5C6996;
    width: 50%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo_login{
    max-width: 3rem;
}

.input-personalizado{
    color: #f2f2f2;
}

.input-personalizado::placeholder{
    margin: 10px;
    color: #283358;
}

.botoes-login{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 6px;
    gap: 2px;
}

.estrutura-donut{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens-decorativas{
    position: relative;
    z-index: 2;
}

.donut{
    position: absolute;
    z-index: 0;
    max-width: 50%;
    max-height: 90%;
    margin: 60px;
}

/* input{
    color: #ffff;
} */

.decorativo-donut{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 24rem;

}

@media screen and (max-width: 700px){
    .bem-vindo{
        display: none;
    }

    .formulario{
        width: 100%;
        margin: 30px;
    }

    input, label{
        margin: 6px;
        padding: 4px;
    }
    /* input{
        color: #ffff;
    } */

    .donut{
        width: 100rem;
        height: 200px;   
    }
}