@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

*{
  padding: 0;
  margin: 0;
  box-shadow: none;
}

p {
  font-family: 'Inter', 'Arial';
  font-size: 1rem;
}

button{
  border: solid #ffff 1px;
  font-family: 'Inter';
  border-radius: 8px;
  padding: 10px;
  margin: 6px;
}

/* CATEGORIA DE TITULO */
h1, h2, h3{
  font-family: 'Inter';
}

.titulo_decorativo{
  color: #ffff;
  font-family: 'Licorice';
  text-align: center;
  margin: 10px;
  font-size: 5rem;
}

.titulo_rosa {
  font-family: 'Inter', 'Arial';
  font-weight: 600;
  font-size: 3rem;
  color: #FEB4CB;
}

.titulo_azul {
  font-family: 'Inter', 'Arial';
  font-weight: 600;
  font-size: 3rem;
  color: #A9DEE2;
}

.titulo_azul_escuro {
  font-family: 'Inter', 'Arial';
  font-weight: 600;
  font-size: 3rem;
  color: #5C6996;
}

.titulo_branco {
  font-family: 'Inter', 'Arial';
  font-weight: 600;
  font-size: 3rem;
  color: #ffff;
}


/* CATEGORIA DE SUBTITULOS */
.subtitulo_rosa{
  font-family: 'Inter', 'Arial';
  font-weight: 600;
  font-size: 16px;
  color: #FEB4CB;
}

.subtitulo_azul{
  font-family: 'Inter', 'Arial';
  font-weight: 600;
  font-size: 16px;
  color: #A9DEE2;
}

.subtitulo_branco{
  font-family: 'Inter', 'Arial';
  font-weight: 600;
  font-size: 16px;
  color: #ffff;
}

/* CATEGORIA DE INPUTS */

input{
  display: block;
  background: transparent;
  font-family: 'Inter';
  align-items: center;
  border: none;
  border-bottom: solid 1px #FEB4CB;
  box-shadow: none;  
}

input:focus{
    outline: none;
}

label, input{
  margin-bottom: 20px;
}

label{
  font-family: Inter;
}

.input_linha{
 width: 20rem;
 align-items: center;
}

.botaoSummit{
  border: solid #ffff 1px;
  font-family: 'Inter';
  border-radius: 8px;
  padding: 10px;
  margin: 6px;
  background-color: #FEB4CB;
  color: #ffff;
}

.botaoCiano{
  background-color: #A9DEE2;
  color: #528c90;
}