.form-endereco{
    border: #E283A1 solid 1px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    
}

.titulo-enderenco{
    color: #ae6c81;
}

.estrutura-alt-enderenco{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    overflow: hidden;
    background-color: #FDECEB;
}

.estrutura-enderenco{
    margin: 20px;
}

.leite {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100vh; 
    z-index: -1; 
  }
  
  .estrutura-enderenco {
    overflow-y: auto; 
    background-color: #FDECEB;
    padding: 20px; 
    height: 100vh; 
  }
  



